# Dependencies
node_modules/
.pnpm-store

# Environment variables
.env
.env.*
!.env.example

# Build output
dist
dist-ssr
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Test & Coverage
coverage/
.vitest/

# GitHub Actions
!.github/workflows/